
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}" rel="stylesheet"/>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Library</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="home.html">Home</a></li>
                <li><a href="#about">Anggota</a></li>
                <li><a href="#contact">Buku</a></li>
                <li><a href="#contact">Peminjaman</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <h1>Data Mahasiswa</h1>
    <div th:if="${not #lists.isEmpty(mahasiswa)}" >
        <table class="table table-striped">
            <tr>
                <th>Nim</th>
                <th>Nama</th>
                <th>Jurusan</th>
            </tr>
            <tr th:each="mhs : ${mahasiswa}">
                <td th:text="${mhs.id}">Nim</td>
                <td th:text="${mhs.nama}">Nama</td>
                <td th:text="${mhs.jurusan}">Jurusan</td>
            </tr>
        </table>
    </div>

    <div>
        <a class="btn btn-default" href="/mahasiswa/create">Tambah Anggota</a>
    </div>
</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
