<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Admin</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>

</head>
<body>
<div class="container-fluid display-table">
    <div class="row display-table-row">
        <!-- side menu -->
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell valign-top" id="side-menu">
            <h1 class="hidden-xs hidden-sm icon-nav">OpenLibrary</h1>
            <ul>
                <li class="top-menu link active">
                    <a href="/">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs">Dashboard</span>
                    </a>
                </li>
                <li class="link">
                    <a href="#collapse-member" data-toggle="collapse" aria-hidden="collapse-member">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs">Anggota</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-member">
                        <li><a href="/anggota/create">Tambah Anggota</a></li>
                        <li><a href="/anggota">Data Anggota</a></li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-book" data-toggle="collapse" aria-hidden="collapse-book">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs">Buku</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-book">
                        <li>
                            <a href="/buku/create">Tambah Buku</a>
                        </li>
                        <li><a href="/buku">Data Buku</a></li>
                    </ul>
                </li>

                <li class="link">
                    <a href="#collapse-transaction" data-toggle="collapse" aria-hidden="collapse-transaction">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        <span class="hidden-sm hidden-xs">Transaksi</span>
                    </a>
                    <ul class="collapse collapseable" id="collapse-transaction">
                        <li><a href="/peminjaman/create">Peminjaman</a> </li>
                        <li><a href="/peminjaman">Data Peminjaman</a></li>
                    </ul>
                </li>

            </ul>
        </div>

        <!-- main content area -->
        <div class="col-md-10 col-sm-11 display-table-cell valign-top">
            <div class="row">
                <header id="nav-header" class="clearfix">
                    <div class="col-md-5">
                        <nav class="navbar-default pull-left">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </nav>
                        <input type="text" class="hidden-sm hidden-xs" id="header-search-field" placeholder="Cari sesuatu..."/>
                    </div>
                    <div class="col-md-7">
                        <ul class="pull-right">
                            <li class="hidden-xs" id="welcome">Selamat Datang di Panel Admin HMIF</li>
                            <li class="fixed-width">
                                <a href="#">
                                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                                    <span class="label label-warning" >3</span>
                                </a>
                            </li>
                            <li class="fixed-width">
                                <a href="#">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    <span class="label label-message" >3</span>
                                </a>
                            </li>

                            <li style="padding-top:10px;">
                                <form name="f" th:action="@{/logout}" method="post">
                                    <input type="submit" class="btn btn-default" value="Logout" style="padding-top: 5px;padding-bottom: 5px;"/>
                                </form>
                            </li>
                        </ul>
                    </div>
                </header>

                <!--Main Content-->

            </div>
            <div class="container">
                <h1>Edit Buku</h1>
                <div class="row">
                    <div class="col-sm-8">
                        <form th:action="@{/buku/create}" class="form-horizontal" th:object="${buku}" method="post">
                            <div class="form-group">
                                <input type="hidden" th:field="*{id_buku}"/>
                                <input type="hidden" th:field="*{version}"/>
                                <table>
                                    <tr>
                                        <td style="padding-top: 10px">Kode Buku</td>
                                        <td style="padding: 10px 20px 0 20px;">:</td>
                                        <td style="padding-top: 10px" th:text="${buku.id_buku}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px">Judul</td>
                                        <td style="padding: 10px 20px 0 20px;">:</td>
                                        <td style="padding-top: 10px">
                                            <input type="text" class="form-control" th:field="*{judul}" placeholder="Masukkan Judul"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px">Pengarang</td>
                                        <td style="padding: 10px 20px 0 20px;">:</td>
                                        <td style="padding-top: 10px">
                                            <input type="text" class="form-control" th:field="*{pengarang}" placeholder="Masukkan Nama Pengarang"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px">Penerbit</td>
                                        <td style="padding: 10px 20px 0 20px;">:</td>
                                        <td style="padding-top: 10px">
                                            <input type="text" class="form-control" th:field="*{penerbit}" placeholder="Masukkan Nama Penerbit"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px">Tahun Terbit</td>
                                        <td style="padding: 10px 20px 0 20px;">:</td>
                                        <td style="padding-top: 10px">
                                            <input type="text" class="form-control" th:field="*{tahun_terbit}" placeholder="Masukkan Tahun Terbit"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px">Kategori</td>
                                        <td style="padding: 10px 20px 0 20px;">:</td>
                                        <td style="padding-top: 10px">
                                            <select th:field="*{kategori}" class="form-control">
                                                <option value="teknologi">Teknologi</option>
                                                <option value="sastra">Sastra</option>
                                                <option value="seni">Seni</option>
                                                <option value="ekonomi">Ekonomi</option>
                                                <option value="agama">Agama</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px">Jumlah Buku</td>
                                        <td style="padding: 10px 20px 0 20px;">:</td>
                                        <td style="padding-top: 10px">
                                            <input type="text" class="form-control" th:field="*{jumlah_buku}" id="title" placeholder="Masukkan Jumlah Buku"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px"></td>
                                        <td style="padding: 10px 20px 0 20px;"></td>
                                        <td style="padding-top: 10px">
                                            <div class="clearfix">
                                                <button type="submit" class="btn btn-default" href="/data_buku">Simpan</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>


                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <footer id="admin-footer" class="clearfix">
                    <div class="pull-left"><b>Copyright </b>&copy; 2017</div>
                    <div class="pull-right">Admin System</div>
                </footer>

            </div>
        </div>



    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<th:block layout:fragment="script">
    <script th:src="@{/bootstrap/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/default.js}"></script>
</th:block>
</body>
</html>